<section class="relative h-screen w-screen bg-neutral-900">
  <div class="absolute top-8 h-[92vh] w-screen flex flex-col sm:flex-row items-center justify-center gap-8">
    <a class="contactCard bg-[#0077b7] " target="_blank" href="https://at.linkedin.com/in/alexander-schnabl-b5508216a">
      <img src="assets/socials/linkedin.png" class="h-full w-full object-contain">
    </a>
    <a class="contactCard bg-[#5865f2]" target="_blank" href="https://discordapp.com/users/415490584665522177">
      <img src="assets/socials/discord.png" class="h-full w-full object-contain">
    </a>
    <a class="contactCard bg-[#29a9eb]" target="_blank" href="https://t.me/botlx">
      <img src="assets/socials/telegram.png" class="h-full w-full object-contain">
    </a>
    <a class="contactCard bg-gradient-to-b from-[#5770ff] to-[#70edff]" target="_blank"
      href="mailto:alexander.schnabl@ss-technologies.at">
      <img src="assets/socials/mail.png" class="h-full w-full object-contain">
    </a>
  </div>
  <app-footer></app-footer>
</section>
