<section class="relative h-screen w-screen bg-neutral-900">
  <img src="assets/alex.png" class="absolute right-0 h-screen object-cover brightness-50 sm:brightness-100">
  <div class="absolute top-0 left-0 h-screen w-screen flex flex-col justify-center">
    <div class="flex flex-col gap-6 pl-10 sm:pl-20  text-white">
      <h1 class="text-3xl -mb-6 font-semibold uppercase">Hello i am Alex</h1>
      <h2 class="text-[3rem] font-bold uppercase">I'm a software developer</h2>
      <div class="-mt-4 w-full font-medium">
        <h3 class="">Here you can find my projects and general information about me! I've hidden 3 cookies </h3>
        <p>on the website, maybe you can find them :)</p>
      </div>
      <div class="mt-12 flex flex-col items-center -ml-10 sm:ml-0 sm:flex-row gap-8 uppercase">
        <app-slide-button text="my work" href="#projects"></app-slide-button>
        <app-slide-button text="get in touch" href="#contact"></app-slide-button>
      </div>
    </div>
  </div>
  <img src="assets/cookie2.jpg" class="absolute top-0 left-0 h-0 w-0">
</section>
