.timelinebar {
  @apply absolute top-3 left-[7px] bg-white h-full w-[2px];
}

.timelinedot {
  @apply absolute left-0 bg-white rounded-full h-4 w-4;
}

.timelinedate {
  @apply absolute -mt-[4px] -left-40 sm:-left-28 w-28 text-white font-bold;
}

.timelinetext {
  @apply absolute -mt-16 left-0 bg-transparent rounded-md h-36 w-96 flex items-center justify-center font-bold text-2xl text-white text-center;
}

.agetext {
  @apply text-white text-center px-20 text-[6rem];
}
