<section class="relative h-screen w-screen bg-neutral-900 z-20">
  <div class="absolute top-48 sm:top-64 left-5 sm:left-[10vw]">
    <div class="relative h-[88vh]">
      <div class="timelinebar"></div>

      <div class="timelinedate top-[00%]">2018 - 2019</div>
      <div class="timelinedot top-[00%]"></div>
      <div
        class="timelinetext top-[00%] ">
        Exchange Year in <br /> San Diego, California
      </div>

      <div class="timelinedate top-[30%]">2019 - 2021</div>
      <div class="timelinedot top-[30%]"></div>
      <div
        class="timelinetext top-[30%]">
        Started college at 16 <br /> Graduated high school
      </div>

      <div class="timelinedate top-[60%]">2019 - 2023</div>
      <div class="timelinedot top-[60%]"></div>
      <div
        class="timelinetext top-[60%]">
        Bachelor in CS / Economics <br /> at AAU / ETHZ
      </div>

      <div class="timelinedate top-[100%]">2022 - now</div>
      <div class="timelinedot top-[100%]"></div>
      <div
        class="absolute -mt-6 w-[80vw] left-8 h-16 flex flex-col sm:flex-row items-center justify-center font-bold text-2xl text-white text-center top-[100%]">
        Projects /
        <a href="https://www.ss-technologies.at" target="_blank" class="pl-2 hover:underline">S&S Technologies
          GmbH</a>
      </div>
    </div>
  </div>
  <div class="hidden sm:block ">
    <div class="absolute top-0 right-0 w-screen h-screen grid grid-cols-3">
      <div></div>
      <div class="flex flex-col justify-center w-full col-span-2 font-medium">
        <div class="agetext">i'm currently</div>
        <div class="agetext">{{age}} Seconds</div>
        <div class="agetext">old</div>
      </div>
    </div>
  </div>
</section>
