<div class="h-screen w-screen bg-neutral-900 relative flex flex-col items-center justify-center">
  <button class="absolute top-8 left-8 font-medium text-white text-lg" routerLink="/">back</button>
  <div class="bg-white/90 text-neutral-900 text-lg font-medium p-4">
    Alexander Schnabl<br />
    Latschach 29<br />
    9064 Magdalensberg<br />
    Mail: <a href="mailto:alexander.schnabl@ss-technologies.at"
      class="hover:underline">alexander.schnabl@ss-technologies.at</a> <br />
  </div>
  <span class="text-neutral-900 select-none pointer-events-none">cookie 3: ctrl + u ? hehe</span>
</div>
